.home-img{
  display: block;
  max-width: 100%;
  height: auto;
  object-fit: cover; 
}
.btn-container{
    display:flex;
    justify-content: space-around;
}
.home-container{
    height: 900px;
    width: 420px;
    margin: 0 auto;
    margin-top:var(--gap-lg);
    display:flex;
    flex-direction:column;
    gap: var(--gap-lg);
}