.login-container{
    height: 900px;
    width: 420px;
    margin: 0 auto;
    margin-top:var(--gap-lg);
    display:flex;
    flex-direction:column;
    gap: var(--gap-lg);
}

.login-container .input-container{
    display: flex;
    flex-direction: column;
    gap: var(--gap-md);
}
.login-container .title-container{
    display: flex;
    flex-direction: column;
    align-items:center;

}