.form-password-input{
    
    position: relative;
}
.form-password-input .password-input{
    width: 100%; 
    box-sizing: border-box; 

    --clr-input-background:var(--clr-blue-soft);
    --clr-input-text: var(--clr-gray-black);
    background-color: var(--clr-input-background);
    font-size:16px;
    font-weight:500;
    padding:20px;
    border:none;
    border-radius:10px;
    color:var(--clr-input-text);
    padding-right: 45px; 
}


.form-password-input .password-input-checkbox{

    position: absolute;
    top: 50%;
    right: 8px;
    transform: translateY(-50%);

    appearance: none;
  width: 18px;
  height: 18px;
  border: 2px solid var(--clr-blue);
  border-radius: 99px;
  cursor: pointer;
}

.password-input-checkbox:checked {
  background-color:var(--clr-blue);
}


.form-input{
    --clr-input-background:var(--clr-blue-soft);
    --clr-input-text: var(--clr-gray-black);
    background-color: var(--clr-input-background);
    font-size:16px;
    font-weight:500;
    padding:20px;
    border:none;
    border-radius:10px;
    color:var(--clr-input-text);
}
.form-password-input .password-input:focus{
   outline-color: var(--clr-blue);
}