.toggle-btn{
    background-color: rgb(205, 250, 255);
    border: 1px solid #ffffff;
    border-radius: 99px;
    width: 50px;
    height: 28px;
    position: relative;

    transition: background-color 0.1s ease, border-color 0.2s ease;
    cursor:pointer;
}

.toggle-btn .thumb{
    background-color: #e2d326;
    border-radius: 99px;
    width: 20px;
    height: 20px;

    transform: translateX(0);
    transition: left 0.15s ease;
    position: absolute;
    left:3px;
    top: 50%;
    transform: translateY(-50%);

}

.toggle-btn.toggled{
    background-color: #414f8e;

}

.toggle-btn:hover{
    border-color:#6f6f6f;
}

.toggle-btn.toggled .thumb{
    left: calc(50px - 25px);
    background-color: #728ae2;
}