.btn{
   
    --clr-btn-text: var(--clr-black);
    --clr-btn-background: none ;

    padding: 15px 30px;
    background-color: var(--clr-btn-background);
    color: var(--clr-btn-text);
    border: none;
    border-radius: 10px;
    font-weight:600;
    font-size:20px;
    cursor:pointer;
}
.btn.solid:hover {
  box-shadow: 0 5px 20px var(--clr-blue);
}

.btn.solid{
    --clr-btn-text: var(--clr-white);
    --clr-btn-background: var(--clr-blue) ;
    

    background-color: var(--clr-btn-background);
    color: var(--clr-btn-text);
}

.btn.thin{
    padding: 15px 60px;
    font-size: 14px;
}

.form-input{
    --clr-input-background:var(--clr-blue-soft);
    --clr-input-text: var(--clr-gray-black);
    background-color: var(--clr-input-background);
    font-size:16px;
    font-weight:500;
    padding:20px;
    border:none;
    border-radius:10px;
    color:var(--clr-input-text);
}
.form-input:focus{
   outline-color: var(--clr-blue);
}

.heading{
    text-align: center;
    width: 350px;
    overflow-wrap: break-word;

    color: var(--clr-blue);
    font-size: 35px;
    font-weight:600;

}
.paragraph{
    text-align: center;
    width: 320px;
    overflow-wrap: break-word;
    
    color: var(--clr-black);
    font-size: 14px;
    font-weight:400;
}

.blue{
    color: var(--clr-blue);
}